* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
html {
  background: white;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}

/*
=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
          Main Page
=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= 
*/
#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.html {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 7rem;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-bottom: 2rem;
}
